# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/

CMakeFiles/
CMakeCache.txt
Makefile
hello-world/base
hello-world/cmake_install.cmake
hello-world/derive
hello-world/helloworld
hello-world/myvec
cpp/advance/logger
cpp/basics/dList